@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ct = custom */

.ct-item-decs-product {
    @apply text-[var(--text-color)] font-bold text-[2.4rem] leading-[3rem] mt-[1.6rem] mb-[1.2rem];
}

.ct-item-text-product {
    @apply text-[#676e8b] text-[1.6rem] pb-[3.2rem];
}

.ct-list-3-col-wrapper {
    @apply flex w-full mx-auto justify-between flex-wrap px-[3.2rem] mt-[3rem];
}

.ct-item-3-col {
    @apply w-full md:w-[48%] lg:max-w-[35.8rem] min-h-[34rem] mt-[4rem];
}
